<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

# Allow access to files
<FilesMatch "\.(ico|jpg|jpeg|png|gif|css|js|pdf|html|txt)$">
    Order allow,deny
    Allow from all
</FilesMatch>

# Ensure that any sensitive files are not publicly accessible
<Files .env>
    Order deny,allow
    Deny from all
</Files>

# Handle Permissions for Directories
<Directory /var/www/html>
    AllowOverride All
    Order allow,deny
    Allow from all
</Directory>

# Make sure your `storage` and `bootstrap/cache` are writable
<Directory /var/www/html/storage>
    Options Indexes FollowSymLinks
    AllowOverride None
    Require all granted
</Directory>

<Directory /var/www/html/bootstrap/cache>
    Options Indexes FollowSymLinks
    AllowOverride None
    Require all granted
</Directory>
